.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/*

*.snakemake_timestamp*

data

*.err
*.out

notes
zz_lost

!snake/slurm
snake/logs/*
snakelogs/

rdata/
benchmark/

.snakemake
snake/*
!snake/code
snake/code/BACKUPS/*
code/BACKUPS/*
!code
!snake/slurm

code/methodComp/bglr/err-bglr-f.5381.err
code/methodComp/bglr/err-bglr-m.5382.err
code/methodComp/f/meth-f.4682.err
code/methodComp/m/meth-m.4685.err
code/methodComp/m/meth-m.4676.err
code/methodComp/method-f.4751.out


